.nav-div {
    width: 30%;
    float: left;
}
.body-div {
    width: 70%;
    float: right;
}

.clr-schme-5-1 {
    background-color: #273747;
    height: 150px;
  }
  .clr-schme-5-2 {
    background-color: #ED4E3E;
  }
  .clr-schme-5-3 {
    background-color: #F2F6F7;
  }
  .clr-schme-5-4 {
    background-color: #34A3DB;
  }
  .clr-schme-5-5 {
    background-color: #1063C3;
  }