/* Body colors */
body {
  background-color: #F2F6F7 !important;
}
header {
  text-align: center;
}

/* Font declaration */
@font-face{
  font-family: Palatino;
  src: url(Assets/Fonts/Palatino.ttf);
}
@font-face{
  font-family: Cantarell;
  src: url(Assets/Fonts/Cantarell-Regular.ttf);
}

/* Fonts Implementation */
h1, h2, h3, h4, h5, h6, a {
  font-family: Cantarell;
  color: #1063C3;
}
p, ul, ol, li {
  font-family: Palatino;
  font-size: large;
}
@media screen and (max-width: 1024px) {
  p, ul, ol, li {
    font-size: medium;
  }
  .jumbotron {
    display: none;
  }
}
/* Links stylization */
a {
  color: #34A3DB !important;
  
}
a:hover {
  color: #ED4E3E !important;
  text-decoration: none !important;
}

/* Logo Font */
.logo-font {
  /* Adventure Regular */
  font-family: adventure, script;
  font-size: 50px !important;
}
.logo-font:hover {
  color: #ED4E3E !important;
}
@media screen and (max-width: 1024px) {
.logo-font {
  font-size: 45px !important;
}
}

/* Nav Div */
.div-left {
  background-color: #273747;
  color: white;
  float: left;
  height: 100%;
  width: 25%;
  padding: 6% 1%;
  position: fixed;
}
.div-left p {
  margin: 0px !important;
}
.div-right {
  background-color: #F2F6F7;
  float: right;
  height: 100%;
  width: 74%;
  padding: 10px 0px;
}
@media screen and (max-width: 768px) {
  .div-left{
    float: none;
    width: 100%;
    position: initial;
  }
  .div-right {
    float: none;
    width: 100%;
  }
  }
/* Nav links Stylization */
.nav-list label {
  font-size: xx-large;
  padding-top: 10px;
}
@media screen and (max-width: 1024px) {
  .nav-list label {
    font-size: x-large;
  }
  }
/* Sources for all pages */
.sources p{
  font-size: 13px;
  margin: 0px;
}

/* Index Page Styles */
/* Color Scheme container */
.clr-schme-row{
  color: #ffffff;
}
.clr-schme-5-1 {
  background-color: #273747;
  height: 150px;
}
.clr-schme-5-2 {
  background-color: #ED4E3E;
}
.clr-schme-5-3 {
  background-color: #F2F6F7;
  color: #273747;
}
.clr-schme-5-4 {
  background-color: #34A3DB;
}
.clr-schme-5-5 {
  background-color: #1063C3;
}