p, pre, ul {
    margin-bottom: 0px !important;
}

/* Background colors based on color scheme */
.bckcol1 {
    background-color: #2677FF;
}
.bckcol2 {
    background-color: #23A0E8;
}
.bckcol3 {
    background-color: #32E9FF;
}
.bckcol4 {
    background-color: #23E8C5;
}
.bckcol5 {
    background-color: #26FF9C;
}

.sources p{
    font-size: 13px ;
}