.sources p{
    font-size: 13px;
}

/* redesign styles */
.div-left {
    background-color: #273747;
    color: white;
    float: left;
    height: 100%;
    width: 25%;
    padding: 6% 1%;
    position: fixed;
}
.div-left p {
    margin: 0px !important;
}
.div-right {
    background-color: #F2F6F7;
    float: right;
    height: 100%;
    width: 74%;
}